*,*:after,*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Bodoni', serif;
}

.flex1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100px;
    padding: 0px 2rem;
    font-family: 'Titan One', cursive;
    color: #fff;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: -4.5rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);

}

.flex1 input {
    width: 250px;
    max-width: 100%;
    background-color: #000;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    border-radius: 2px;
    padding: 3px;
    font-size: 15px;
}

.flex1 input:focus {
    outline: none;
    color: #ddd;
}

.flex1 h2 {
    font-size: 46px;
    margin: 10px;
    font-family: 'Libre Bodoni', serif;
    font-weight: 300;
    letter-spacing: 3px;
}

.flex1 button{
    display: none;
}

.flex2 {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}

.nav::after {
    content: "";
    display: table;
    clear: both;
}

.nav {
    padding: 8px;
}

.nav a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 8px;
    float: left;
}

.respons-nav {
    display: none;
    transition: all .4s;
}

.content {
    max-width: 100%;
    background-image: url('https://th.bing.com/th/id/R.595125b66ce9b9d727827fce5519f155?rik=AflzumOJeIUw%2fQ&riu=http%3a%2f%2f4.bp.blogspot.com%2f-CkerHiixlNA%2fTckqOBF80fI%2fAAAAAAAAAIk%2f7BQC0j0q0Yo%2fs1600%2ftop_fashion_modles_1440ST_7019.jpg&ehk=ybqai28HNz7zuzKlYO81GAjchSsy3GmkMHDCe%2fBXVBg%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
    height: 120%;
    margin-top: 0rem;
    margin-top: 4.3rem;
    letter-spacing: 2px;
}

.container {
    width: 44%;
    max-width: 100%;
    position: absolute;
    top: 23%;
    left: 50%;
    text-align: left;
}

.container p {
    padding: 12px 4rem 12px 0rem;
    word-wrap: no-wrap;
}

.container h2 {
    font-size: 48px;
    font-family: 'Libre Bodoni', serif;
}

.line {
    width: 36px;
    margin-bottom: 28px;
    border-bottom: 3px solid orange;
}

.container p {
    
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
    word-spacing: 2px;
}

.maincontainer {
    width: 70%;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.container2 {
    overflow: hidden;
    padding: 16px;
    border-radius: 10px;
    height: 600px;
    color: #fff;
    transition: .3s transform opacity box-shadow ;
    transition: .5s transform;
    opacity: .8;
    box-shadow: 13px 20px 10px rgba(0,0,0,.8);  
    transition: 450ms opacity ease-out;
}

.container2:hover {
    opacity: 1;
}

.content2 {
    position: relative;
    top: 500px;
    overflow: hidden;
    transition: 450ms top ease-out;
}

.container2:hover .content2{
    position: relative;
    top: 400px;
}
.content2 h2{
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: bold;
}

.content2 p {
    font-size: 13px;
    letter-spacing: 1px;
}

.w3-bg1 {
    background-image: url('https://images.unsplash.com/photo-1562572159-4efc207f5aff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmVtYWxlJTIwbW9kZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');
    background-repeat: no-repeat;
    background-size: cover;

}

.w3-bg2 {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1512850692650-c382e34f7fb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFsZSUyMG1vZGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    background-size: 130%;
    background-position: right;
    background-repeat: no-repeat;
    /*https://images.unsplash.com/photo-1512850692650-c382e34f7fb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFsZSUyMG1vZGVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60
        ./charan2.jpeg
    */
}

.newarrival {
    max-width: 100%;
    height: 1000px;
    background-image: url("https://wallpaperaccess.com/full/2224451.jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: 3rem;
}

.info-offer {
    position: relative;
    top: 50%;
    left: 8%;
    font-family: 'Libre Bodoni', serif;
    color: #fff;
    display: inline-block;
    padding: 0px 8px;
}

.info-offer h2{
    font-size: 78px;
}

.info-offer p {
    margin-top: -2rem;
    font-size: 18px;
}

.info-offer button {
    border: none;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 2px;
    box-shadow: 7px 6px 5px rgba(0 0 0/0.2);
}

.ourgallery {
    margin-top: 6rem;
    padding: 12px;
}

.ourgallery h2 {
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0 0 .5rem 3rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    padding: 12px 5rem 12px 5rem;
    margin: 22px 0 22px 0;
    grid-gap: 12px;
}
.grid .cart {
    border-radius: 8px;
    position: relative;
    width: 360px;
    height: auto;
    overflow: hidden;
}

.cart img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: block;
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
}
.cart:hover img {
    filter: grayscale(0%);
    transform: scale(1.07);
}

.container-vertical-line {
    display: flex;
    place-items: center;
    overflow: hidden;
    position: absolute;
    bottom: 15%;
    left: 20px;
}

.container-vertical-line h2 {
    margin: 0px;
    transform: translateX(-220px);
    transition: transform 750ms linear;
    color: #F9F9F9;
}

.vertical-line {
    width: 6px;
    margin-right: 12px;
    height: 64px;
    background-color: #2C3639;
    border-radius: 1.2px;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms linear;
}

.cart:hover h2{
    transform: translate(0);
    transition-delay: .5s;
}

.cart:hover .vertical-line {
    transform: scaleY(1);
    transition-delay: .2s;
}

.cart a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 13px 68px;
    background-color: #2e2e2e;
    border-radius: 3px;

}

footer {
    margin-top: 2rem;
    background: #2e2e2e;
    padding: 3rem 2rem;
    color: #fff;
}

.flex-left {
    width: 60%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.flex-left .address ,.contacts,.faq {
    padding: 2px 10px;
    line-height: 26px;
    width: 200px;
}
.me-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}
.me-info a {
    color: #fff;
    text-decoration: none;
    margin: 16px;
    font-size: 2rem;
}


/* Responsive */

@media screen and (max-width:700px) {
    .flex1 {
        position: fixed;
        max-width: 100%;
        z-index: 99;
        top: 69.5px;
    }
    .flex1 h2{
        margin: 20px 0 20px -12px;
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .flex2 {
        display: none;
    }

    .flex1 button{
        display: block;
    }

    .burgur{
        display: block;
        width: 36px;
        position: relative;
        border-radius: 6px;
        cursor: pointer;
        appearance: none;
        border: none;
        background: none;
        outline: none;
      }
      
      .burgur .bar,.burgur:after,.burgur:before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
        margin: 4px 0px;
        border-radius: 6px;
        transition: all .4s;
      }
      
      .burgur.is-active:before {
        transform: rotate(-45deg) translate(-4px,6px);
      }
      
      .burgur.is-active .bar {
        opacity: 0;
      } 
      
      .burgur.is-active:after {
        transform: rotate(45deg) translate(-4px,-6px);
      }
    
      .respons-nav {
        position: fixed;
        top: 0px;
        left: 100%;
        z-index: 98;
        display: block;
        width: 100%;
        min-height: 100vh;
        padding-top: 70px;
        background-color:#2C3639;
        transition: all 0.5s;
    }
    
    .respons-nav a {
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 3px auto 12px;
        padding: 6px;
        background-color: #2e2e2e;
        border-radius: 4px;
        letter-spacing: 3px;
    }
    
    .respons-nav a:hover {
        background-color: dimgrey;
    }

    .respons-nav.is-active {
        left: 0;
    }
    .content {
        margin-top: 0rem;
        height: 100vh;
        background: url("https://images.unsplash.com/photo-1501441858156-e505fb04bfbc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=424&q=80") no-repeat;
        background-size: 100%;
        background-position: bottom center;
    }
    .content .container {
        position: relative;
        top: 20%;
        left: 52%;
        height: 180px;
        display: none;
    }
    .content .container h2 {
        font-size: 25px;
    }
    .container p {
        padding: 0;
        line-height: 13px;
        font-size: 8px;
    }
    .container .line {
        margin-bottom: 14px;
        width: 23px;
        border-bottom: 2px solid orange;
    }
    .maincontainer {
        display: block;
        margin-top: 1.4rem;
        margin-bottom: 3rem;
        width: 75%;
        
    }
    .maincontainer .container2 {
        height: 460px;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 0;
        box-shadow: 10px 14px 12px rgba(0 0 0/0.9);
        background-position: top;
    }
    
    .container2 .content2 h2 {
        font-size: 26px;
    }

    .container2 .content2 p {
        font-size: 9px;
        line-height: 13px;
        letter-spacing: 2px;
        word-spacing: 4px;
    }
    .container2:hover .content2{
        top: 280px;
    }
    .newarrival {
        width: 490px;
        height: 350px;
        background-position: right top ;
        background-size: 530px;
        margin-top: 3rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
        padding: 12px 3rem 12px 3rem;
        margin: 22px 0 22px 0;
        grid-gap: 12px;
    }

    .grid .cart {
        width: 370px !important;
    }
    .info-offer {
        top: 18%;
        left: 8px;
        display: inline-block;
        padding: 4px;
    }
    .info-offer h2 {
        font-size: 18px;
    }
    .info-offer p {
        font-size: 9px;
        margin-top: -12px;
    }
    .info-offer button {
        padding: 4px 6px;
        font-size: 8px;
    }
    .ourgallery {
        margin-top: 4rem;
    }
    .ourgallery .w3-heading {
        font-size: 22px;
        letter-spacing: normal;
        margin-left: 0;
        text-align: left;
    }
    .ourgallery .grid {
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .ourgallery .grid .cart {
        width: 290px;
        margin: 18px 0 0 0 ;
        max-width: 100%;
    }
    .ourgallery .w3-margin {
        margin-top: -1.4rem;
        padding-top: 0;
    }
    .ourgallery .grid .cart h2 {
        font-size: 28px;
    }
    .cart a {
        bottom: -10px;
        padding: 8px 40px;
        letter-spacing: 2px;
    }
    footer .flex-left {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
